/* CSS */
.navitems {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 1.12rem;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.navcontainer{
  position: relative;
  z-index: 10;
  transition: opacity 1s ease-in;

}
.navbody {
  padding-left: 7rem;
  padding-right: 7rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity 1s ease-in;

}

.navright {
  display: flex;
  gap: 2rem;
}

.navbutton {
  color: #fff;
  background: #A2B3D4;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  outline: 0;
  border: 0px;
  font-size: 1rem;
  white-space: nowrap;
  transition: opacity 1s ease-in;

}


a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  position: relative;
  transition: opacity 1s ease-in;

}
.logo{
  width: 65%;
  height: 65%;

}

a::after {
  content: '';
  display: block;
  height: 2px; /* Adjust the thickness of the underline */
  background-color: #A2B3D4; /* Color of the underline */
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px; /* Adjust the space between the text and underline */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}